* {
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
}

#headerLogo {
    width: 300px;
    height: auto;
}


#menu {
    display: flex;
    justify-content: center;
    background-color: black;
}

#mainPicture {
    width: 100%;
    height: auto;
}

#buttons {
    display: flex;
    justify-content: space-around;

    margin: 50px;
    
}

button {
    width: 200px;
    height: 50px;
    color: whitesmoke;
    background-color: #555555;
    border: 2px solid #555555;
}

#button1 {
    border-radius: 15px;
    font-size: 30px;

}

#button2 {
    border-radius: 15px;
    font-size: 30px;

}

#button3 {
    border-radius: 15px;
    font-size: 30px;

}
