* {
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
}

#headerLogo {
    width: 300px;
    height: auto;
}


#menu {
    display: flex;
    justify-content: center;
    background-color: black;
}

#mainPicture {
    width: 100%;
    height: auto;
}